:root {
  --primary: #FFF2D7;
  --secondary: #add8e6;
  --success: #28a745;
  --info: #A0DEFF;
  --warning: #ffc107;
  --danger: #FF0000;
  --light: #FFCF96;
  --dark: #5AB2FF;
}

body {
  background-color: var(--primary) !important;  /*!important is used to override the default bootstrap styles*/
}

/* meme image */

.img-custom {
  /* padding 0*/
  padding: 0 !important;
  /* round images */
  border-radius: 9%;
  /*add shadow to images*/
  border-color: #000000 !important;
  border: 2px solid #000000 !important;
  box-shadow: 4px 4px #000000;
  /* crop image as square */
  object-fit: cover !important;
  width: 22vw !important;
  height: 22vw !important;

}

/* Navbar */

.navbar-custom {
  background: var(--secondary) !important;
  border-color: #000000 !important;
  border-bottom: 3px solid #000000; 
  height: 8vh !important;
}

/* Caption buttons */

.btn-custom {
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: var(--secondary) !important;
  border: solid 2px #000000 !important;
  color: #000000 !important;
 }
 
 .btn-custom::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #b0c1cd !important;
  transform: translateX(-100%);
  transition: all .3s;
  z-index: -1;
 }
 
 .btn-custom:hover::before {
  transform: translateX(0);
 }
 
.btn-custom-correct {
  background-color: var(--success) !important;
  border-color: var(--success) !important;
  height: 100%;
}

.btn-custom-incorrect {
  background-color: var(--danger) !important;
  border-color: var(--danger) !important;
  height: 100%;
}

.btn-link {
  background-color: var(--secondary) !important;
  border-color: var(--secondary) !important;
  color: #000000 !important;
}

.btn-link:hover {
  color: grey !important;
}

/* Input */

.input {
  border-radius: 5px;
  border: 2px solid #000000 !important;
  background-color: var(--primary) !important;
  box-shadow: 4px 4px #000000 !important;
  outline: none;
}


/* Cta button */

.cta-button {
  margin: 50px auto 0 auto;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid #000000 !important;
  background-color: var(--primary) !important;
  box-shadow: 4px 4px #000000;
  font-size: 17px;
  font-weight: 600;
  color: #000000 !important;
  cursor: pointer;
}

.cta-button:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

/* Card */

.card {
  background: var(--secondary) !important;
  border-color: #000000 !important;
  border: 2px solid #000000 !important;
  box-shadow: 4px 4px #000000;
}


/* Game over */

.overlay {
  position: fixed;
  top: 8vh;
  left: 0;
  width: 100%;
  height: 100%; /* 100% - navbar height */
  background-color: rgba(0, 0, 0, 0.71); /* overlay background color */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.game-over-container {
  position: absolute;
  top: 20%;
  /* left: 50%;
  transform: translateX(-50%); */
  background-color: var(--secondary);
  border: 2px solid #343a40;
  border-radius: 10px;
  padding: 2vw;
  text-align: center;
  width: 40vw;
  z-index: 101;
}

.game-over-title {
  color: #343a40;
  font-size: 4em;
}

.game-over-details h2 {
  margin-bottom: 10px;
  font-size: 2em;
  color: #495057;
}

/* countdown */

.countdown {
  display: grid;
  margin: 1em auto;
  width: 20em;
  height: 20em;
  place-items: center;
  position: relative;
}

.countdown-text {
  position: absolute;
  font: 3em ubuntu mono, consolas, monaco, monospace;
}

.countdown-svg {
  width: 100%;
  height: 100%;
  transform: rotate(-90deg); /* start at 12 o'clock */
}

.background-circle {
  fill: none;
  stroke: silver;
  stroke-width: 10; /* thickness of the external circle */
}

.foreground-circle {
  fill: none;
  stroke-width: 10; /* thickness of the internal circle (progress bar) */
  stroke-linecap: round; /* rounded ends */
  stroke-dasharray: 282.7433388230814; /* 2 π r */
}

