:root {
  --primary: #FFF2D7;
  --secondary: #5AB2FF;
  --success: #28a745;
  --info: #A0DEFF;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #FFCF96;
  --dark: #5AB2FF;
}

body {
  background-color: var(--primary) !important;  /*!important is used to override the default bootstrap styles*/
}

.img-custom {
  /* padding 0*/
  padding: 0 !important;
  /* round images */
  border-radius: 9%;
  /*add shadow to images*/
  box-shadow: 0 0 30px #000000;
  /* crop image as square */
  object-fit: cover !important;
  width: 22vw !important;
  height: 22vw !important;

}


.navbar-custom {
  background-color: var(--secondary) !important;
  height: 8vh !important;
}


.btn-custom {
  background-color: var(--dark) !important;
  border-color: var(--dark) !important;
  height: 100%;
}

.btn-custom-correct {
  background-color: var(--success) !important;
  border-color: var(--success) !important;
  height: 100%;
}

.btn-custom-incorrect {
  background-color: var(--danger) !important;
  border-color: var(--danger) !important;
  height: 100%;
}

.btn-custom:hover{
  /* background-color: var(--info) !important;
  border-color: var(--info) !important; */
  box-shadow: 0 0 10px #000000;
}

.btn-link {
  background-color: var(--dark) !important;
  border-color: var(--dark) !important;
  color: white !important;
}

.btn-link:hover {
  color: var(--info) !important;
}

.text-primary {
  color: var(--primary) !important;
}

/* Game over */

.overlay {
  position: fixed;
  top: 8vh;
  left: 0;
  width: 100%;
  height: 100%; /* 100% - navbar height */
  background-color: rgba(0, 0, 0, 0.71); /* overlay background color */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.game-over-container {
  position: absolute;
  top: 20%;
  /* left: 50%;
  transform: translateX(-50%); */
  background-color: #b2d8dc;
  border: 2px solid #343a40;
  border-radius: 10px;
  padding: 2vw;
  text-align: center;
  width: 40vw;
  z-index: 101;
}

.game-over-title {
  color: #343a40;
  font-size: 4em;
}

.game-over-details h2 {
  margin-bottom: 10px;
  font-size: 2em;
  color: #495057;
}

/* countdown */

.countdown {
  display: grid;
  margin: 1em auto;
  width: 20em;
  height: 20em;
  place-items: center;
  position: relative;
}

.countdown-text {
  position: absolute;
  font: 3em ubuntu mono, consolas, monaco, monospace;
}

.countdown-svg {
  width: 100%;
  height: 100%;
  transform: rotate(-90deg); /* start at 12 o'clock */
}

.background-circle {
  fill: none;
  stroke: silver;
  stroke-width: 10; /* thickness of the external circle */
}

.foreground-circle {
  fill: none;
  stroke-width: 10; /* thickness of the internal circle (progress bar) */
  stroke-linecap: round; /* rounded ends */
  stroke-dasharray: 282.7433388230814; /* 2 π r */
}

